@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

body {
  background-color: #f5f5f5;
  height: 100%;
}

i {
  width: 16px;
  height: 16px;
}

.container {
  width: 700px;
  background-color: #fff;
  margin: 5rem auto;
  color: #525252;
  box-shadow: 1px 2px 30px #cfcfcf;
}

h2,
.addTodo,
.todo-task,
.clear {
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.356);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.todoInput {
  width: 100%;
  height: 60px;
  font-style: italic;
}

.input,
.todoInput {
  flex: 1;
  height: 55px;
  outline: none;
  border: none;
  padding-left: 1.7rem;
}

.checkbox:checked + .input {
  text-decoration: line-through;
}

.clear {
  border-bottom: none;
  justify-content: center;
  text-align: center;
}

.delete {
  display: none;
}

.drag {
  order: 4;
}

.showBtn + .delete {
  display: block;
}

.showBtn ~ .drag {
  display: none;
}
